<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Cadastrar Usuário</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/93d18202e7.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="img/wave.png">
	<div class="container">
		<div class="img">
			<img src="img/bg.svg">
		</div>
		<div class="login-content">

			<form action="../controller/cadastraCliente.php" method="POST">

				<h2 class="title">Cadastrar Usuário</h2>

           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Nome</h5>
           		   		<input type="text" name="nome" class="input">	
           		   </div>
           		</div>

           		<div class="input-div pass">
           		   <div class="i"> 
						<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Sobrenome</h5>
           		    	<input type="text" class="input" name="sobrenome">
            	   </div>
            	</div>

				<div class="input-div pass">
					<div class="i"> 
						 <i class="fas fa-lock"></i>
					</div>
					<div class="div">
						 <h5>CPF</h5>
						 <input type="text" oninput="mascara(this)" class="input" required maxlength="14" title="O campo deve ser preenchido da seguinte maneira: 000.000.000-00" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" name="cpf">
				 </div>
			  </div>

			  <div class="input-div pass">
				<div class="i"> 
						<i class="fa-solid fa-location-dot"></i>
				</div>
				<div class="div">
					 <h5>Endereço</h5>
					 <input type="text" class="input" name="endereco">
			 </div>
		  </div>

		  <div class="input-div pass">
			<div class="i"> 
					<i class="fa-solid fa-square-phone-flip"></i>
			</div>
			<div class="div">
				 <h5>Telefone</h5>
				 <input type="text" class="input" pattern="\([0-9]{2}\)[0-9]{4,5}-[0-9]{4}$"
				 title="O Telefone dece ser inserido da seguinte forma: (xx)xxxxx-xxxx"
				 required="required" name="telefone">
		 </div>
	  </div>

            	<input type="submit" class="btn" value="Cadastrar">
            </form>

        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
	<script>
		// MASCARA PARA O INPUT CPF

		function mascara(i)
  		{
    
			var v = i.value;
			
			if(isNaN(v[v.length-1]))
			{
			// impede entrar outro caractere que não seja número
			i.value = v.substring(0, v.length-1);
			return;
			}
			
			i.setAttribute("maxlength", "14");
			if (v.length == 3 || v.length == 7) i.value += ".";
			if (v.length == 11) i.value += "-";

		}
	</script>
</body>
</html>
